{% extends "base_layout.html" %}
{% block heading %}
    <h1 class="display-4 text-center">Employees Checkout List</h1>
{% endblock heading %}

 {% block content %}
 
 <table class="table table-borderless">
     <thead class="border-bottom font-weight-bold">
         <tr>
             <td>Employee Name</td>
             <td>Checkout Time</td>
             <td>Employee Details</td>
         </tr>
     </thead>
     <tbody>
         {% for employee_checkout in employee_checkouts %}
            <tr>
                <td>{{ employee_checkout.employee }}</td>
                <td>{{ employee_checkout.check_out_time }}</td>
                <td><a href="{% url 'employees_checkout_details' employee_checkout.id %}" class="btn btn-success">View Details!</a></td>
            </tr>
         {% endfor %}
     </tbody>
 </table>
{% endblock %}