{% extends "base_layout.html" %}

{% block heading %}
  <h2 class="display-4 text-center">Leave Request Details</h2>
{% endblock heading %}

{% block content %}
  
<div class="row">
    <div class="col-12 mt-3">
        <div class="card mb-4">
            <div class="card-body ml-35">
                <h2 class="card-title">Full Name: {{ employee_leave.employee}}</h2>
                <p class="card-text text-muted h6"><b>Requested On: </b>{{ employee_leave.leave_request_date }}, <b>Approval Status: </b>{{ employee_leave.approval_status }}</p>
                <p class="card-text"><b>Leave Reason: </b>{{ employee_leave.leave_reason }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}