{% extends "base_layout.html" %}
{% block heading %}
    <h1 class="display-4 text-center">Employees List</h1>
{% endblock heading %}

 {% block content %}
 
 <table class="table table-borderless">
     <thead class="border-bottom font-weight-bold">
         <tr>
             <td>Suggestion Title</td>
             <td>Suggested On</td>
             <td>Suggestion Details</td>
         </tr>
     </thead>
     <tbody>
         {% for suggestion in suggestions %}
            <tr>
                <td>{{ suggestion.issue_title }}</td>
                <td>{{ suggestion.report_date }}</td>
                <td><a href="{% url 'suggestion_details' suggestion.id %}" class="btn btn-success">View Details!</a></td>
            </tr>
         {% endfor %}
     </tbody>
 </table>
{% endblock %}