{% extends "base_layout.html" %}

{% block heading %}
  <h2 class="display-4 text-center"> Suggestion Details</h2>
{% endblock heading %}

{% block content %}
  
<div class="row">
    <div class="col-6 mt-3">
        <div class="card mb-4">
            <div class="card-body ml-35">
                <h2 class="card-title">Title: {{ suggestion.issue_title}}</h2>
                <p class="card-text text-muted h6"><b>Posted On: </b>{{ suggestion.report_date }}</p>
                <p class="card-text"><b>Description: </b>{{ suggestion.issue_description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}